.header-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.fullscreen-container {
    min-height: 100vh;
    overflow: hidden;
}

.fullscreen {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.fullscreen__photo-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    background-image: url(../img/main-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullscreen__photo-small {
    position: absolute;
    top: 43%;
    right: 7%;
    width: 20%;
    height: 50%;
    background-image: url(../img/small-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-text {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title {
    font-family: 'FE Hero';
    font-size: 71px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 80px;
    white-space: pre-line;
}

.social-icon {
    position: absolute;
    left: 15%;
    bottom: 10%;
    display: flex;
    align-items: center;
}

.social__link {
    width: 21px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-right: 8px;
}

.social__link:last-child {
    margin-right: 0;
}

.social__link-vk {
    background-image: url(../img/icons/vk.svg);
}

.social__link-inst {
    background-image: url(../img/icons/inst.svg);
}

.social__link-tik-tok {
    background-image: url(../img/icons/tik-tok.svg);
}

.social__link-youtube {
    background-image: url(../img/icons/youtube.svg);
}


/* mobile + tablet */
@media screen and (max-width:940px){
  
	.desktop{display:none!important;}

	.scrollbox{overflow:auto;overflow:-moz-scrollbars-none!important;}
      .scrollbox::-webkit-scrollbar{display:none;}

    .container-text, .social-icon {
        left: 50px;
    }

    .fullscreen__photo-small {
        width: 27%;
    }

}

/* mobile */
@media screen and (max-width:640px){
    .fullscreen__photo-main {
        width: 100%;
    }

    .fullscreen__photo-small {
        display: none;
    }

    .subtitle {
        white-space: normal;
    }
}  
    
/* desktop */    
@media screen and (min-width:941px){

    .mobile{display:none!important;}
}

@media screen and (max-width:400px) {
    .container-text, .social-icon {
        left: 30px;
        right: 15px;
    }

    .main-title {
        font-size: 60px;
    }

    .btn-menu {
        right: 30px;
        bottom: 30px;
    }

    .social-icon {
        bottom: 38.5px;
    }
}