.content {
    display: flex;
    justify-content: space-between;
}

.left-side {
    background-color: #EBF1F2;
    padding: 54px;
    width: 49.5%;
    font-family: 'Jost', sans-serif;
}

.right-side {
    width: 49.5%;
}

.btn {
    padding: 12px 48px;
    text-align: center;
    background-color: #DCAD36;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border-radius: 23px;
    border: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #DCAD36;
    background-color: transparent;
    color: black;
}

.container-btn-bit {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.btn__milov {
    position: relative;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 25px;
}

.btn__milov::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: 0.7s;
}

.btn__milov:hover::after {
    width: 100%;
}