.content {
    display: flex;
    justify-content: space-between;
}

.left-side {
    background-color: #EBF1F2;
    padding: 54px;
    width: 49.5%;
    font-family: 'Jost', sans-serif;
    visibility: hidden;
}

.right-side {
    width: 49.5%;
    visibility: hidden;
}

.btn {
    padding: 12px 48px;
    text-align: center;
    background-color: #DCAD36;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border-radius: 23px;
    border: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #DCAD36;
    background-color: transparent;
    color: black;
}

.container-btn-bit {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.btn__milov {
    position: relative;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 25px;
    visibility: hidden;
}

.btn__milov::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: 0.7s;
}

.btn__milov:hover::after {
    width: 100%;
}

.form-contact {
    width: 50%;
}

/* mobile + tablet */
@media screen and (max-width:940px){
  
	.desktop{display:none!important;}

	.scrollbox{overflow:auto;overflow:-moz-scrollbars-none!important;}
    .scrollbox::-webkit-scrollbar{display:none;}

    .content {
        flex-direction: column;
        align-items: center;
    }

    .photo {
        height: 450px;
        margin-bottom: 15px;
        margin-top: 15px;
        background-position: top;
        width: 100%;
    }

    .left-side {
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width:640px){
    .form-contact {
        width: 100%;
    }

    .left-side {
        padding: 20px;
    }
}